<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC98IJySZF9PQGulNaIlTThhdxCvh3BJvk&libraries=places"></script>
  <script defer src="script.js"></script>
  <title>Weather App</title>
</script>
</head>
<body class="bg">
  <div class="content-bg">
    <h1>Weather App</h1><br>
    <header>
      <input class="search-box" type="text" placeholder="Search Location">
    </header>
    <main>
      <section class="location">
        <div class="city"></div>
        <div class="date"></div>
      </section>
      <img class="weather-icon">
      <div class="current">
        <div class="flex"><div class="temp"></div><sup class="temp-celsius">°c</sup></div>
        <div class="weather"></div>
        <div class="hi-low"></div>
      </div><br>
      <section class="more-details">
        <div class="detail-title">Feels like<div class="details feels-like"></div></div>
        <div class="detail-title">Wind Speed<div class="details wind-speed"></div></div>
        <div class="detail-title">Humidity<div class="details humidity"></div></div>
        <div class="detail-title">Pressure<div class="details pressure"></div></div>
        <div class="detail-title">Sunrise<div class="details sunrise"></div></div>
        <div class="detail-title">Sunset<div class="details sunset"></div></div>
      </section>
    </main>
  </div>
</body>
</html>