* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  font-family: 'Noto Sans', sans-serif;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: white;
  background: url(/imgs/Background.jpg) no-repeat;
}

// .bg {
//   width: 100%;
//   height: 100vh;
//   position: absolute;
//   background: linear-gradient(#0D85D8,#7AD7F0, #92DFF3);
//   z-index: -5;
//   opacity: 0.6;
// }

.content-bg {
  width: 100%;
  max-width: 600px;
  box-shadow: 2px 2px 5px black, -1px -1px 5px black;
  background: linear-gradient(#0D85D8,#55c9e9, #72d5ee);
  padding: 50px 0;
  justify-content: center;
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
}

input {
  height: 40px;
  width: 100%;
  max-width: 300px;
  outline: 0;
  padding: 5px;
  border-radius: 10px 0 10px 0;
  border: 1px solid black;
  border-bottom: 2px solid rgb(0, 0, 0);
}
 
input[type=text] {
  font-size: 1rem;
}

.city {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
}

.date {
  font-size: 0.8rem;
}

section {
  margin: 25px 0;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.temp {
  font-size: 6rem;
  line-height: 6rem;
  font-weight: bolder;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.658);
}

.weather {
  font-style: italic;
  font-size: 1.7rem;
  line-height: 4rem;
}

.hi-low {
  font-size: 1rem;
}

.temp-celsius {
  font-size: 2rem;
}

.more-details {
  display: grid;
  width: 100%;
  max-width: 500px;
  grid-template-rows: repeat(2, minmax(50px,1fr));
  grid-template-columns: repeat(3, minmax(150px,1fr));
  grid-gap: 20px;
  margin: auto;
  padding: 20px 0;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.detail-title {
  font-size: 0.8rem;
  text-align: center;
}

.details {
  font-size: 1.5rem;
  text-align: center;
}



// ################# BACKGROUNDS #############################
.sunny {
  background: url('/imgs/Sunny.png') no-repeat;
  background-size: cover;
}

.rain {
  background: url('/imgs/Rainy.jpg') no-repeat;
  background-size: cover;
}

.clouds {
  background: url('/imgs/Cloudy.jpg') no-repeat;
  background-size: cover;
}

.snow {
  background: url('/imgs/Snowy.jpg') no-repeat;
  background-size: cover;
}

.clear {
  background: url('/imgs/Clear.jpg') no-repeat;
  background-size: cover;
}

.misty {
  background: url('/imgs/Misty.png') no-repeat;
  background-size: cover;
}

.fog {
  background: url('/imgs/fog.webp') no-repeat;
  background-size: cover;
}

.haze {
  background: url('/imgs/Haze.jpg') no-repeat;
  background-size: cover;
}

.smoke {
  background: url('/imgs/Smoke.jpg') no-repeat;
  background-size: cover;
}

.default {
  background: linear-gradient(#0D85D8,#7AD7F0, #92DFF3);
  background-size: cover;
}

@media only screen and (max-width: 550px) {
  .more-details {
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(2, 150px);
    grid-gap: 10px;
  }
}

@media only screen and (max-width: 300px) {
  .more-details {
    grid-template-rows: repeat(6, 50px);
    grid-template-columns: repeat(1, 150px);
  }
}